<p id="notice"><%= notice %></p>

<h3> Phrase #<%= @phrase.id %> </h3>
<ul class="info">
	<li>Text: <%= @phrase.text %></li>
	<li>Created At: <%= @phrase.created_at %></li>
</ul>

<%= link_to 'Edit', edit_phrase_path(@phrase) %> |
<%= link_to 'Back', phrases_path %>
