<!DOCTYPE html>
<html>
<head>
  <title>CoachRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "welcome" if controller_name == "welcome" %>
  <%= stylesheet_link_tag "phrases" if controller_name == "phrases" %>
  
</head>
<body>

<%= yield %>

</body>
</html>
